* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('main_images/Background.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.logo {
    position: fixed;
    margin-top: 35px;
    margin-left: 94px;
    width: 82px;
    height: 82px;
    background-image: url('main_images/Logo.png');
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
}

.navigation {
    position: fixed;
    top: 45px;
    left: 94px;
    height: 60px;
    width: 0;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 43px;
    box-shadow: 
        inset 0px 4px 4px rgba(255, 255, 255, 0.15),
        inset 0px 0px 68px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    color: white;
    overflow: hidden;
    transition: width 0.3s ease;
    display: flex;
    align-items: center;
    z-index: 2;
}

.nav-item {
    padding: 20px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.nav-item:first-child {
    padding-left: 139px;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.03);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 
        inset 0px 4px 4px rgba(255, 255, 255, 0.15),
        inset 0px 0px 68px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    color: white;
    font-size: 16px;
    height: 248px;
    width: 589.5px;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    margin-top: 15px;
}

ul {
    padding-left: 50px;
}

ul li {
    font-size: 32px;
}

.about-container {
    text-align: center;
    background-image: url('main_images/image\ 1.png');
    padding: 20px;
    padding-bottom: 100px;
    width: 100%;
    min-height: 300px;
    color: white;
}

.about-header {
    padding-top: 80px;
    font-family: 'Georgia', serif;
    font-size: 40px;
}

.about-text {
    font-size: 24px;
    line-height: 30px;
    padding-top: 40px;
    padding-left: 375px;
    padding-right: 375px;
}

.about-link {
    color: #009DFF;
    text-decoration: none;
}

.about-link:hover {
    text-decoration: underline;
}


/* How to Start */
.start-container {
    background-color: rgba(122, 0, 0, 0.50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 500px;
    padding: 20px;
}

.start-content {
    font-family: 'Georgia', serif;
}

.start-text-container {
    display: flex;
    align-items: center;
}

.start-header {
    font-size: 48px;
    margin-right: 100px;
}

.start-list {
    font-size: 32px;
    list-style-position: inside;
    text-align: left;
}

.character-left, .character-right {
    width: 300px;
    height: auto;
}

.character-left {
    margin-right: -110px;
}

.character-right {
    margin-left: -20px;
}

/* Join to clan */

.clan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 323px;
    padding-left: 510px;
    padding-bottom: 200px;
}

.winners-text {
    margin-top: 280px;
    font-size: 80px;
    font-family: 'Times New Roman', serif;
    cursor: pointer;
}

.join-button {
    margin-top: 200px;
    width: 337px;
    height: 131px;
    font-size: 70px;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, #66ffa6, #33ffdd);
    border: none;
    padding: 15px 60px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
    transform: rotate(-10deg) skew(-10deg);
    color: white;
}

.join-button:hover {
    transform: scale(1.1);
}

/* footer */

.footer {
    background-color: #0D0D0D;
    color: white;
    padding: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    width: 25%;
}

.footer-logo {
    margin-bottom: 20px;
}

.logo-img {
    width: 100px; /* Ширина логотипа */
    height: auto;
}

.email-text {
    font-size: 14px;
    line-height: 1.5;
}

.footer-center {
    text-align: center;
    width: 80%;
}

.follow-us {
    margin-bottom: 20px;
    margin-left: -890px;
    font-size: 18px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.2); /* Увеличение при наведении */
}

.footer-right {
    width: 8%;
    text-align: left;
}

.menu-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-menu {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-menu li a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 0.3s ease;
}

.footer-menu li a .triangle {
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.footer-menu li a:hover {
    color: #4AD5B7;
}

.footer-menu li a:hover .triangle {
    transform: translateX(5px); /* Анимация стрелки при наведении */
}

.footer-line {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: white;
}

.footer-bottom {
    text-align: left;
    font-size: 15px;
    margin-bottom: -25px;
}